html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
.container {
    text-align: center;
	height: 100%;
}
.map-container {
	height: 100%;
}
.on-scroll {
    width: 100%;
}
#map, #sidebar {
	display: inline-block;
	margin: 0;
	padding: 0;
}
#map {
	height: 100%;
	width: 100%;
}
#sidebar {
	position: absolute;
	height: 100%;
}
#sidebar img {
	right: 0;
	height: 100%;
	width: min(340px, 25%);
	
}
#floating-panel {
	position: absolute;
  	bottom: 0;
  	left: 0;
  	z-index: 5;
	color: #fff;
  	background-color: #003262;
  	border: 0;
	padding: 5px;
}
.garden-info {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	z-index: 5;
	border: 0;
}
.garden-info img {
	height: 100%;
}
.by {
	cursor: pointer;
}
.gm-style-iw + div {display: none;}